<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to stylesheet here -->
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css"> -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://nl.linkedin.com/in/bzwemmer/nl" target="_blank">About</a></li>
      </ul>
    </nav>
    <div class="body">
      {{ content }}
    </div> <!-- end of content container -->
    <footer>
      <p>Thanks for visiting</p>
    </footer>
  </body>
</html>
